<h2>Welcome to Your Dashboard</h2>

<% if current_user.groups.any? %>
<p>You are part of the following groups:</p>
<ul>
  <% current_user.groups.each do |group| %>
  <li><%= group.name %></li>
  <% end %>
</ul>
<%= link_to 'View All Groups', groups_path, class: 'btn btn-primary' %>
<% else %>
<p>You are not a member of any groups. <%= link_to 'Join or Create a Group', new_group_path %></p>
<% end %>