<h1>Admin Panel</h1>

<p>Welcome to the Admin Panel</p>

<div>
  <h3>Admin Management</h3>
  <ul>
    <%= link_to 'Manage Users', admin_users_path %></li>
    <%= link_to 'Manage Issues', admin_issues_path %></li>
  </ul>
</div>