<% if user_signed_in? %>
<h2>Your Groups</h2>
<ul>
  <% @groups.each do |group| %>
  <li><%= link_to group.name, group_path(group) %></li>
  <% end %>
</ul>

<%= link_to 'Create New Group', new_group_path, class: 'btn btn-primary' %>
<% else %>
<p>Please sign in to view your groups.</p>
<% end %>