<div class="flex flex-col items-center justify-center h-screen">
  <h1 class="text-6xl text-blue-600 font-bold text-center mb-12">
    Welcome, <%= current_user.full_name %>!
  </h1>
  <p class="text-xl text-gray-700 text-center mb-8">
    This app helps you navigate and save routes with ease.
  </p>

  <div class="flex space-x-12">
    <div class="text-center">
      <%= link_to 'Use GPS', gps_path, class: 'bg-blue-500 text-white px-12 py-6 rounded-lg text-2xl font-semibold hover:bg-blue-700 transition duration-300 shadow-lg' %>
      <p class="text-gray-600 mt-4">Click here to use GPS.</p>
    </div>

    <div class="text-center">
      <%= link_to 'Create New Route', new_route_path, class: 'bg-green-500 text-white px-12 py-6 rounded-lg text-2xl font-semibold hover:bg-green-700 transition duration-300 shadow-lg' %>
      <p class="text-gray-600 mt-4">Click here to create a new saved route.</p>
    </div>
  </div>
</div>